body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: blue;
    display: grid;
    grid-template: 
    1fr 1fr 1fr 1fr /1fr
    1fr 1fr 1fr;
    grid-template-areas:
    "nav header-content header-content header-content"
    "nav main main main"
    "nav main main main"
    "nav main main main"
}

img{
    width: 20px;
}

ul{
    list-style: none;
    font-weight: bold;
    padding: 0;
    font-size: 1.2rem;
}

li{
    margin-bottom: 20px;
}

.first-ul{
    margin-bottom: 50px;
}

nav{
    grid-area: nav;
    color: white;
    padding: 20px;
    background-color: rgb(62, 140, 204);
  }

nav h1{
    margin-bottom: 40px;
    font-size: 1.8rem;
}

.header-content{
    grid-area: header-content;
    padding: 20px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.search-row{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 3fr 1fr;
    gap: 20px
}

.searchbar{
    background-color: gainsboro;
    border-radius: 100px;
    height: 20px;
    margin-right: 40px;
}

.search-row h2{
    display: inline;

}

#notification-column img{
    margin-right: 20px;

}

.profile-row{
    display: grid;
    grid-template-columns: 50px 3fr 1fr;
    align-items: center;
}

span,h1{
    margin: 0;
}

button{
    background-color: rgb(0, 140, 255);
    color: white;
    font-weight: bold;
    border-radius: 100px;
    padding: 8px 18px;
    border: none;
    margin-left: 10px;
}


main{
    grid-area: main;
}





